<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
table{
	border:1px solid black;
	border-collapse:collapse;
	}
td, th{
	border:1px solid black;
	}
</style>
</head>
<body bgcolor="white" text="black" link="blue" vlink="purple" alink="red">



<table border="1" width="1600" height="900" bordercolor="black" bordercolorlight="black" bordercolordark="black">
    <tr>
        <td width="1332" height="45" bordercolor="black">
	        <b>
		        <font face="Aharoni">
		      	  <span style="font-size:16pt;">Top 메뉴</span>
		        </font>
	        </b>
        </td>
    </tr>
    
    <tr>
        <td width="1332" height="460">
            
            <div class="search" align="center">
            <h2>추천 미궁 사이트</h2>
			<select name="col"><!-- 검색할 컬럼 -->
			    <option value="name">제목</option>
			    <option value="content">내용</option>
			    <option value="id">만든이</option>
			</select>

            <!-- 검색어 -->
			<input type="search" name="word" value="" required>
			<button>검색</button>
			<button type="button" onclick="bcreate()">등록</button>
			</div>
			<br>
			
			
		
            <table border="1" width="60%" align="center" height="769" bgcolor="white" cellspacing="0" bordercolordark="white" bordercolorlight="black">
                <tr>
                    <td width="300" height="139" rowspan="5">
                    	<a href="02.html">
                    		<img src="연습용.png" style="margin-left: auto; margin-right: auto; display: block;">
                    	</a>
                    </td>
                    <td width="74" height="24"><b><font face="Aharoni"><span style="font-size:9pt;">제목</span></font></b></td>
                    <td width="569" height="24"><a href="02.html"><span style="font-size:9pt;">DeadLock (The Dead Lock - 데드락:교착상태) </span></a></td>
                </tr>
                <tr>
                    <td width="74" height="43"><b><font face="Aharoni"><span style="font-size:9pt;">내용</span></font></b></td>
                    <td width="569" height="43"><span style="font-size:9pt;">난이도 下 / 현재 클리어: 10명<br>
                    						-미궁 질문게시판에 힌트(공략) 작성함-<br><br>
											짧은 미궁<br>
											미궁 입문자에게 적절합니다 <br>
											매우 쉬운 문제들입니다.<br><br>
											<b>내용은 TextArea로 스크롤링 할 예정()</b>
					</span></td>
                </tr>
                <tr>
                    <td width="74" height="25"><b><font face="Aharoni"><span style="font-size:9pt;">날짜</span></font></b></td>
                    <td width="569" height="25"><span style="font-size:9pt;">2018-04-26</span></td>
                </tr>
                <tr>
                    <td width="74"><b><font face="Aharoni"><span style="font-size:9pt;">만든이</span></font></b></td>
                    <td width="569"><span style="font-size:9pt;">오말랭</span></td>
                </tr>
                <tr>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">추천수</span></font></b></td>
                    <td width="569" height="22"><span style="font-size:9pt;"><b>46</b></span></td>
                </tr>
                <tr>
                    <td width="948" height="0" colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td width="300" height="132" rowspan="5">&nbsp;</td>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">제목</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="43"><b><font face="Aharoni"><span style="font-size:9pt;">내용</span></font></b></td>
                    <td width="569" height="43">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">날짜</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">만든이</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">추천수</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="948" height="0" colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td width="300" height="135" rowspan="5">&nbsp;</td>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">제목</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="46"><b><font face="Aharoni"><span style="font-size:9pt;">내용</span></font></b></td>
                    <td width="569" height="46">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">날짜</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">만든이</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">추천수</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="948" height="0" colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td width="300" height="132" rowspan="5">&nbsp;</td>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">제목</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="43"><b><font face="Aharoni"><span style="font-size:9pt;">내용</span></font></b></td>
                    <td width="569" height="43">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">날짜</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">만든이</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">추천수</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="948" height="0" colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td width="300" height="127" rowspan="5">&nbsp;</td>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">제목</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="37"><b><font face="Aharoni"><span style="font-size:9pt;">내용</span></font></b></td>
                    <td width="569" height="37">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">날짜</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="22"><b><font face="Aharoni"><span style="font-size:9pt;">만든이</span></font></b></td>
                    <td width="569" height="22">&nbsp;</td>
                </tr>
                <tr>
                    <td width="74" height="11"><b><font face="Aharoni"><span style="font-size:9pt;">추천수</span></font></b></td>
                    <td width="569" height="11">&nbsp;</td>
                </tr>
            </table>
            
            <br>
            <div class="search" align="center">
            11 / 22 [이전] <b>11</b> 12 13 14 15 16 17 18 19 20 [다음]
            </div>
            <br>
            
        </td>
    </tr>
    <tr>
        <td width="1332" height="48"><b><span style="font-size:16pt;"><font face="Aharoni">Bottom 메뉴</font></span></b></td>
    </tr>
</table>
<p>&nbsp;</p>
</body>
</html>