<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css"> 
*{ 
  font-family: gulim; 
  font-size: 12px; 
} 
</style>
<link href="${root}/css/style.css" rel="Stylesheet" type="text/css"> 
</head>
<body>



<form name='frm' 
	method='post' 
	enctype="multipart/form-data" 
	action='./create'>

   <TABLE class='table'>
    
    <TR>
      <TH>파일</TH>
      <TD><input type="file" name="filenameMF"></TD>
    </TR>
    <TR>
      <TH>제목</TH>
      <TD><input type="text" name="subject" size="30"></TD>
    </TR>
    <TR>
      <TD colspan="2"><textarea cols="30" rows="10" name="content"></textarea></TD>
    </TR>
   
  </TABLE>


  <DIV class='bottom'>
   <input type="submit" value='등록'>
    <input type='button' value='목록' onclick="location.href='./sitelist.html'">
  </DIV>
</form>

</body>
</html>