<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




<script type="text/javascript">

//Modal Image Gallery
function onClick(element) {
	document.getElementById("img01").src = element.src;
	document.getElementById("modal01").style.display = "block";
	var captionText = document.getElementById("caption");
	captionText.innerHTML = element.alt;
}
</script>

<title>Insert title here</title>
</head>
<body>




<div class="col-sm-8 col-sm-offset-2 section-container-spacer ">
        <div class="text-center">
          <h1 class="h2">02 : Works</h1>
          <p>Image BBS.</p>
        </div>
</div>


	<table class="w3-table " style="width:60%; height:50% ;margin:0 auto;">
		<tr>
			<td colspan="3">
		 	<span class="pull-right">
		 		<a href="./02.html" title="" class="btn btn-default">create</a>
		 	</span>
		 	</td>
		
		</tr>
		
		<tr>
			<td style="height:50%;">
				<div class="w3-card-4">
					<div class="head">
					<span style="float:left;">show me the (추천수 4)</span>
					<span style="float:right;">cowboy779</span>
					<!-- <p style="text-align: left;">사이트1(추천수 : 4)</p> -->
					</div>
					<a href="http://www.daum.net">
						<img src="./11.png" style="width:100%; height:40%; display:block;" class="w3-hover-opacity" alt="default">
					</a>
				    <div class="w3-container">
				      	<h4><b>영드락</b></h4>
					      <div align="center" style="width:100%;">
						      <textarea rows="5" cols="30" style="resize:none;" readonly>
						      	난이도 下 / 현재 클리어 : 매우 쉬운 문제들입니다. 내용은 TextArea로 스크롤링 할 예정()
						      </textarea>
					      </div>
					      
					      <div class="tcontent">
							  <span class="glyphicon glyphicon-pencil"></span>&nbsp;
							  <span class="glyphicon glyphicon-trash" ></span>
							  
							  <span style="float:right;">2018-04-25 15:30:52</span>
					 	 </div>
					 </div>
				</div>
			</td>
			
			<td  style="height:50%;">
				<div class="w3-card-4">
					<div class="head">
						<span style="float:left;">동고동락 (추천수 123)</span>
						<span style="float:right;">cowboy779</span>
						<!-- <p style="text-align: left">동고동락(추천수 : 12)</p> -->
					</div>
					<a href="http://www.daum.net">
						<img src="./11.png" style="width:100%; height:40%; display:block;" class="w3-hover-opacity" alt="default">
					</a>
				    <div class="w3-container">
				      	<h4><b>The Dead Lock : 영드락</b></h4>
					      <div align="center" style="width:100%;">
						      <textarea rows="5" cols="30" style="resize:none;" readonly>
						      	난이도 下 / 현재 클리어: 10명-미궁 질문게시판에 힌트(공략) 미궁 입문자에게 적절합니다. 매우 쉬운 문제들입니다. 내용은 TextArea로 스크롤링 할 예정()
						      </textarea>
					      </div>
					      
					      <div class="tcontent">
							  <span class="glyphicon glyphicon-pencil"></span>&nbsp;
							  <span class="glyphicon glyphicon-trash" ></span>
							  
							  <span style="float:right;">2018-04-25 15:30:52</span>
					 	 </div>
					 </div>
				</div>
			</td>
			
			<td style="height:50%;">
				<div class="w3-card-4">
					<div class="head">
					<span style="float:left;">한정한과 아이들 (추천수 6873)</span>
					<span style="float:right;">cowboy779</span>
					<!-- <p style="text-align: left">사이트1(추천수 : 1)</p> -->
					</div>
					<a href="http://www.daum.net">
						<img src="./11.png" style="width:100%; height:40%; display:block;" class="w3-hover-opacity" alt="default">
					</a>
				    <div class="w3-container">
				      	<h4><b>The Dead Lock : 영드락</b></h4>
					      <div align="center" style="width:100%;">
						      <textarea rows="5" cols="30" style="resize:none;" readonly>
						      	난이도 下 / 현재 클리어: 10명-미궁 질문게시판에 힌트(공략) 미궁 입문자에게 적절합니다. 매우 쉬운 문제들입니다. 내용은 TextArea로 스크롤링 할 예정()
						      </textarea>
					      </div>
					      
					      <div class="tcontent">
							  <span class="glyphicon glyphicon-pencil"></span>&nbsp;
							  <span class="glyphicon glyphicon-trash" ></span>
							  
							  <span style="float:right;">2018-04-25 15:30:52</span>
					 	 </div>
					 </div>
				</div>
			</td>

			
		</tr>
		
	
	
	</table>




<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div> 
</body>
</html>